/* src/index.css */

/* Estilos globales básicos para todo el cuerpo de la página */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #FFF3E0; /* ¡NUEVO COLOR: Naranjo claro! */
  margin: 0;
  padding: 0;
}

/* Puedes añadir más estilos globales aquí si lo deseas */